* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 16px;
    }
    a {
text-decoration: none;
color: #a89574;
}
.content-box {
    width: 1170px;
    margin: 0 auto;
}
.button {
    width: 150px;
    display: inline-block;
    border: 2px solid  #a89574;
    border-radius: 4px;
    padding: 11px 0;
    text-align: center;
    transition: .4s
}
.button:hover {
    color: white;
    background: #a89574;
}
p {
    line-height: 1.5;
    color: #9e9e9e;
    margin: 1.5em 0;
}
/*start header site*/
.conteiner {
    display: flex;
    color: #a7a7a7;       
}
header .content-box {
 padding: 30px 0;   
} 
.label span {
    color: #a89574;
    font-weight: normal; 
    font-size: 32px;   
}
header > div {
    vertical-align: middle;
    align-items: baseline;
}
.gorizont-menu-items > ul > li {
    list-style: none;
    display: inline;
    padding-right: 50px;    					
}
.gorizont-menu-items > ul > li:last-of-type {
    padding-right: 30px;
}
.gorizont-menu a,
.gorizont-menu-items a{
    color: #a7a7a7;
    font-weight: bold;
}
.gorizont-menu-items a:hover {
    color: #a89574;    
}
.label {
    font-size: 32px;
    color: #a89574;
    font-weight: bold;
}
.social-links {
    display: inline-block;
    padding: 8px 6px;
    border: 1px solid  #faaa5e;
    border-radius: 50%;
    vertical-align: middle; 
    color: #faaa5e;
}
.social-links:nth-child(2):hover {
    color: white;
    background: #faaa5e;
}
.social-links:nth-child(3) {
    color: #677fb5;
    border-color: #677fb5;
}
.social-links:nth-child(3):hover {
    color: white;
    background: #677fb5;
}
.social-links:nth-child(4) {
    color: #bce3f5;
    border-color: #bce3f5;
}
.social-links:nth-child(4):hover {
    color: white;
    background: #bce3f5;
}
.social-links:nth-child(5) {
    color: #e4a2c8;
    border-color: #e4a2c8;
}
.social-links:nth-child(5):hover {
    color: white;
    background: #e4a2c8;
}
.social-links:nth-child(6) {
    color: #dc646b;
    border-color: #dc646b;
}
.social-links:nth-child(6):hover {
    color: white;
    background: #dc646b;
}
.gorizont-menu {
    width: 10%;    
}
.gorizont-menu-items{
    width: 70%;
    text-align: right;
}
.gorizont-menu-social {
    border-left: 1px solid #dedede;
    width: 20%; 
    padding: 15px 0 15px 20px;
    vertical-align: middle;
    text-align: center;  
}

/*end header site*/
/*start header slider*/
.header-slider {
    background: #2a2a2a;
}
.photo  {
    width: 100%;
}
.header-slider-text {
    flex: 2;
    line-height: 1.5;
    margin: 60px 0;
}
.slider-subtext {
    color: #bdbdbd;
    font-size: 1.3em;
}
.header-slider-img {
    flex: 1;
    margin: 60px 0 55px;
}
.header-slider strong {
    color: #a59477;
    font-weight: bold;
    font-size: 3.5rem;
}
/*end header slider*/
/*start main*/
h2 {
    color: #767676;
    padding-top: 50px;
    font-size: 1.5em;    
}
.button-alt {
    color: #a57780;
    border: 2px solid #a57780;
}
.button-alt:hover {
    background: #a57780;
}
.background_main {
    background: #f4f4f4;
    padding-bottom: 50px;
}
.main-icon,
.main-icon-last {
    width: 90px;
    height: 90px;
    border: 3px solid  #a89574;
    border-radius: 50%;
    margin: 45px auto 30px;    
}
.main-information img {
   position: relative;
   top: 33%;
   left: 10%;
}
.main-icon-last img {
    left: 0;
}
.icon-box strong {
    font-size: 1.2em;
    font-weight: bold;
    color: #767676;
}
.icon-box div {
    width: 20%;
    text-align: center;
    margin: 0 0 20px;
}
.icon-box span {
    color: #a89574;    
}
.icon-box p {
    margin-top: 5px; 
}
.main-icon::after {
    content: ">";
    position: relative;
    top: 25%;
    left: 120%;
    color: #e1ddd4;
    font-size: 1.5em;
}
.art-gallery {
    width: 100%;
    height: 210px;
    border: none;
}
.photo-gallery div {
    text-align: center;
    margin: 50px 0;
    justify-content: space-between;  
}
.photo-gallery figure {
    border: 1px solid #dedede;
    width: 23%;
    padding-bottom: 30px;
}
.photo-gallery figure p {
    margin-bottom: 0;
}
.photo-gallery figure a {
    font-size: .8em;
}
.main-blog > div {
    flex: 1;
    margin-right: 50px;         
}
.main-blog p {
    padding: 0;
    margin: 1.1em 0 0;
}
.main-blog a {
    font-size: 0.8em;
}
.data-coments {
width: 40px;
height: 40px;
padding: 10px;
margin: 20px 20px 0 0; 
border: 2px solid  #a89574;
border-radius: 50%;
color: #a89574;
text-align: center;
box-sizing: content-box;
}
.main-blog ul{
    margin-top: 35px;
}
.main-blog ul li {
    list-style: none;
    margin-left: 20px;
}
.main-blog ul li::before {
    content: "";
    display: block;
    width: 2px;
    height: 2px;
    border: 1px solid  #a89574;
    border-radius: 50%;
    position: relative;
    left: -15px;
    top: 12px;
}
.comments-block {
    margin-top: -90px;
}
.comments {
    text-align: center;
}
.comments p {
    margin-bottom: .4em;
}
.second-coment {
    margin-top: 50px;
}
.special-label {
    font-size: 100px;
}
.special-comment {
    margin-top: -100px;
}
/*end main*/
/*start footer*/
footer {
    background: #393939;
    color: #bdbdbd;    
}
.footer-columns {
    flex: 1;
    padding-right: 40px;
    padding-bottom: 90px;   
       
}
footer li,
footer p,
footer a{
    font-size: 0.9em;
    color: #b4b4b4;
    margin: 1.2rem 0 0;
    position: relative; 
}
footer li {
    margin-top: 10px;
}
footer li:first-child {
    margin-top: 1.5rem;
}
footer h2 {
    color: white;
}
.footer-columns span {
    color: #8f8f8f;    
}

.footer-columns ul li {
    list-style: none;
    margin-left: 20px;    
}
footer a {
    color: #b4b4b4;
    font-size: 1em;
}
footer i {
    color: #a89574;
    position: absolute;
    left: -25px;
    top: 2px;
    font-size: 0.7rem;    
}
.form-name {
    margin-bottom: 1.1em;
}
.footer-columns .text {
    background: #2e2e2e;
    width: 100%;
    margin: 0 0 15px;
    border: none;
    min-height: 40px;
    color: white;
}
footer textarea{
    resize: none;
    height: 35%;
}
.footer-columns:nth-child(2) p {
    margin-left: 25px;
}
form .button {
    background: #393939;
    color: #bdbdbd;
    border-color: #bdbdbd;
    cursor: pointer;
}
.copyrights {
    background: #333333;
    padding: 25px 0;
}
/*end footer*/
